@model LinkListViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h1 class="caption">@Localizer["Title"]</h1>
<h4 class="caption">@Localizer["Description"]</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <input asp-for="CertificateId" type="hidden" />
            <div class="input-group mb-3">
                <input asp-for="Link.Name" class="form-control">
                <div class="input-group-prepend">
                    <input type="submit" class="btn btn-primary" value="@Localizer["Add"]" />
                </div>
            </div>
            <span asp-validation-for="Link.Name" class="text-danger"></span>
        </form>
        <ul class="list-group mt-3">
            @if (Model?.Links != null)
            {
                @foreach (var a in Model.Links)
                {
                    <li class="list-group-item d-flex flex-link">
                        <a href="@a.Name" target="_blank">@a.Name</a>
                        <span class="badge float-right badge-left">
                            <a asp-controller="Link" asp-action="Delete" asp-route-id="@a.Id" class="btn btn-sm btn-danger delete">@Localizer["Delete"]</a>
                        </span>
                    </li>
                }
            }
        </ul>
        <p><a class="btn btn-primary mt-3" asp-controller="Certificate" asp-action="Details" asp-route-id="@Model.CertificateId">@Localizer["Back"]</a></p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/modalWindow.js" asp-append-version="true"></script>
}