@page
@model PersonalDataModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@Localizer["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>@Localizer["Description"]</p>
        <p>
            <strong>
                @Localizer["Info"]
            </strong>
        </p>
        <p>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Download"]
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Download" asp-action="Zip">Zip</a>
                    <a class="dropdown-item" asp-controller="Download" asp-action="Excel">Excel</a>
                </div>
            </div>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger mt-3">@Localizer["Delete"]</a>
        </p>
    </div>
</div>
