@model CertificateViewModel
@inject IStageService Service
@{
    ViewData["Title"] = Localizer["Title"];

    string converted = Convert.ToBase64String(Model.ImageData);
}

<h1 class="caption">@Localizer["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6 break-word">

        <partial name="MainPages/_CertificateDetailsPartial" model="@Model" />

        <a asp-route="Public" 
           asp-route-uniqueUrl="@Model.UniqueUrl" 
           asp-route-page="@Model.Page" 
           class="btn btn-primary mt-3">@Localizer["Back"]
        </a>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <a href="data:image/jpeg;base64,@converted" data-lightbox="image-@Model.Id" data-title="@Model.Title">
            <img src="data:image/jpeg;base64,@converted" class="img-fluid img-thumbnail ms-image-details" />
        </a>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/lightbox2/js/lightbox.js"></script>
}

