@model CertificateViewModel
@inject IStageService Service
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="caption">@Localizer["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6 break-word">

        <partial name="MainPages/_CertificateDetailsPartial" model="@Model" />

        <a asp-route="Public" 
           asp-route-uniqueUrl="@Model.UniqueUrl" 
           asp-route-page="@Model.Page" 
           class="btn btn-primary mt-3">@Localizer["Back"]
        </a>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <a href="@Url.Content(Model.Path)" data-lightbox="image-@Model.Id" data-title="@Model.Title">
            <img src="@Url.Content(Model.Path)" class="img-fluid img-thumbnail ms-image-details" />
        </a>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.js"
            integrity="sha512-UHlZzRsMRK/ENyZqAJSmp/EwG8K/1X/SzErVgPc0c9pFyhUwUQmoKeEvv9X0uNw8x46FxgIJqlD2opSoH5fjug=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>
}

