@model PublicViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="caption">@Localizer["Title"]</h1>
@if (Model.ImageData != null)
{
    <div class="row mb-3">
        <div class="col-md-2">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-md-3">
            <h4 class="caption">@Model.Surname</h4>
            <h4 class="caption">@Model.Name </h4>
            <h4 class="caption">@Model.MiddleName</h4>
        </div>
    </div>
}
else
{
    <h4 class="caption mb-3">@Model.Surname @Model.Name @Model.MiddleName</h4>
}
<div class="card mb-3">
    <div class="card-body">
        <form method="get">
            <div class="d-flex justify-content-start">
                <div class="col-md-8 p-0">
                    <input asp-for="Find" class="form-control autocom" placeholder="@Localizer["Info"]" maxlength="30" autocomplete="off" />
                </div>
                <select asp-for="Year" asp-items="Model.Years" class="form-control ml-1 col-md-3"></select>
                <input type="submit" value="@Localizer["Search"]" class="btn btn-info ml-2" />
            </div>
        </form>
    </div>
</div>
@if (Model.Certificates.Any())
{
    <div class="row index">
        @foreach (var item in Model.Certificates)
        {
            <div class="col-sm-6">
                <div class="card mb-3 anim" onclick="start(@item.Id, '@Model.UniqueUrl', @Model.PageViewModel.PageNumber)">
                    <div class="row no-gutters">
                        <div class="col-md-4 ms-image">
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageData))" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">@item.Description</p>
                                <p class="card-text"><small class="text-muted">@item.Date.ToShortDateString()</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <page-link page-model="Model.PageViewModel" page-controller="Public" page-action="Index" unique-url="@Model.UniqueUrl"></page-link>
}
else
{
    <div class="text-center mt-5">
        <h2 class="font-weight-normal op-6">@Localizer["NotFound"]</h2>
    </div>
}


@section Scripts
{
    <script type="text/javascript" src="~/js/public.js" asp-append-version="true"></script>
}


