@model PublicViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="caption">@Localizer["Title"]</h1>

@if (Model.ImageData != null)
{
    <div class="row mb-3">
        <div class="col-md-2">
            <a href="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" data-lightbox="photo" data-title="@Model.Name">
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" class="img-fluid img-thumbnail" />
            </a>
        </div>
        <div class="col-md-3">
            <h4 class="caption">@Model.Surname</h4>
            <h4 class="caption">@Model.Name </h4>
            <h4 class="caption">@Model.MiddleName</h4>
        </div>
    </div>
}
else
{
    <h4 class="caption mb-3">@Model.Surname @Model.Name @Model.MiddleName</h4>
}

<partial name="MainPages/_SearchPartial" model="@Model" />

@if (Model.Certificates.Any())
{
    <div class="row index">
        @foreach (var item in Model.Certificates)
        {
            <div class="col-sm-6">
                <div class="card mb-3 anim" onclick="start(@item.Id, '@Model.UniqueUrl', @Model.PageViewModel.PageNumber)">
                    <partial name="MainPages/_CertificateCardPartial" model="item" />
                </div>
            </div>
        }
    </div>

    <page-link page-model="Model.PageViewModel" page-controller="Public" page-action="Index" unique-url="@Model.UniqueUrl"></page-link>
}
else
{
    <partial name="MainPages/_EmptyListPartial" />
}


@section Scripts
{
    <script type="text/javascript" src="~/js/public.js" asp-append-version="true"></script>
    <script src="~/lib/lightbox2/js/lightbox.js"></script>
}


