@page
@model RegisterModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="flex">
    <div class="alert alert-info alert-dismissible term-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Localizer["AgreementOne"] <a asp-controller="Home" asp-action="Term">@Localizer["AgreementTwo"]</a>
    </div>
</div>

<form class="form-signin" asp-antiforgery="true">
    <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal">@Localizer["Title"]</h1>
        <h5>@Localizer["Description"]</h5>
    </div>
    <div asp-validation-summary="ModelOnly" class="alert alert-danger list-style-none"></div>
    <div class="form-label-group">
        <label asp-for="Input.UserName"></label>
        <input asp-for="Input.UserName" class="form-control" autocomplete="off" readonly onfocus="$(this).removeAttr('readonly');">
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Input.FullName"></label>
        <input asp-for="Input.FullName" class="form-control">
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" autocomplete="off" readonly onfocus="$(this).removeAttr('readonly');">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control">
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">@Localizer["SignUp"]</button>
    <partial name="_ApplicationNamePartial" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/tooltip.js"></script>
}
