@model AdminViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    List<string> Roles = new List<string>
    {
        "User",
        "Moderator"
    };
}

<h1 class="caption">@Localizer["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <input asp-for="Login" type="hidden" />
            <div class="form-group">
                <label>@Localizer["Role"]</label>
                <p>@Html.DropDownListFor(model => model.Role, new SelectList(Roles), new { @class = "form-control" })</p>
            </div>
            <div class="form-group mt-1">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">@Localizer["Back"]</a>
                    <input type="submit" class="btn btn-success" value="@Localizer["Save"]" />
                </div>
            </div>
        </form>
    </div>
</div>
