@model EventListViewModel
@{
    ViewData["Title"] = Localizer["Title"];
    if (Model.Events.Count() == 1)
    {
        Context.Response.Cookies.Append("event_isLast", "true", new() { SameSite = SameSiteMode.Lax });
    }
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h1 class="caption">@Localizer["Title"]</h1>
<p>
    <a class="btn btn-success mt-3" style="width:7em;" asp-controller="Moderator" asp-action="Create">
        @Localizer["Create"]
    </a>
</p>
<hr />
<div class="row">
    @if (Model.Events.Any())
    {
        @foreach (var e in Model.Events)
        {
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>@e.Title</h5>
                        </div>
                        <div class="card-text">
                            <p>@e.Description</p>
                            <a href="@e.Url" target="_blank">@e.Url</a>
                            <p class="card-text"><small class="text-muted">@e.Date.ToShortDateString()</small></p>
                        </div>
                        <div class="btn-group w-25 mt-2" role="group">
                            <a asp-controller="Moderator" asp-action="Delete" asp-route-id="@e.Id" class="btn btn-danger delete">@Localizer["Delete"]</a>
                            <a asp-controller="Moderator" asp-action="Edit" asp-route-id="@e.Id" asp-route-page="@e.Page" class="btn btn-primary">@Localizer["Change"]</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<page-link page-model="Model.PageViewModel" page-controller="Moderator" page-action="Index"></page-link>

@section Scripts
{
    <script type="text/javascript" src="~/js/modalWindow.js" asp-append-version="true"></script>
}
