@model CertificateViewModel
@inject IStageService Service 
@{
    ViewData["Title"] = Localizer["Title"];
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h1 class="caption">@Localizer["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6" style="word-wrap: break-word;">
        <h5>@Localizer["AwardTitle"]</h5>
        <p>@Html.DisplayFor(model => model.Title)</p>
        <br />
        <h5>@Localizer["Description"]</h5>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <br />
        <h5>@Localizer["Stage"]</h5>
        <p>@Service.GetNameOfStage(Model.Stage)</p>
        <br />
        <h5>@Localizer["Date"]</h5>
        <p>@Html.DisplayFor(model => model.Date)</p>
        <br />
        <h5>@Localizer["Links"]</h5>
        @if (Model.Links.Count != 0)
        {
            <ul class="list-group">
                @foreach (var a in Model.Links)
                {
                    <li class="list-group-item"><a href="@a.Name" target="_blank">@a.Name</a></li>
                }
            </ul>
        }
        <p><a class="btn btn-info btn-sm mt-2 mb-3" asp-controller="Link" asp-action="Index" asp-route-id="@Model.Id">@Localizer["Manage"]</a></p>
        <div class="btn-group buttons-padding mb-3" role="group">
            <a asp-controller="Certificate" asp-action="Index" asp-route-page="@Model.Page" class="btn btn-primary">@Localizer["Back"]</a>
            <a asp-controller="Download" asp-action="Jpg" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["Download"]</a>
            <a asp-controller="Certificate" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["Change"]</a>
            <a asp-controller="Certificate" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger delete">@Localizer["Delete"]</a>
        </div>
    </div>
    <div class="col-md-6">
        <a href="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" data-lightbox="image-@Model.Id" data-title="@Model.Title">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ImageData))" class="img-fluid img-thumbnail ms-image-details" />
        </a>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/modalWindow.js" asp-append-version="true"></script>
    <script src="~/lib/lightbox2/js/lightbox.js"></script>
}
