@model IndexViewModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 class="caption">@Localizer["Title"]</h1>

<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <a class="btn btn-success width-12 bd-highlight" asp-controller="Certificate" asp-action="Create">
                @Localizer["Create"]
            </a>
            <a class="btn btn-light width-12 bd-highlight" style="cursor:pointer;" onclick="copy()">
                @Localizer["Copy"]
            </a>
        </div>
    </div>
</div>

<partial name="MainPages/_SearchPartial" model="@Model" />

@if (Model.Certificates.Any())
{
    <div class="row index">
        @foreach (var item in Model.Certificates)
        {
            <div class="col-sm-6">
                <div class="card mb-3 anim" onclick="start(@item.Id, @Model.PageViewModel.PageNumber)">
                    <partial name="MainPages/_CertificateCardPartial" model="item" />
                </div>
            </div>
        }
    </div>

    <page-link page-model="Model.PageViewModel" page-controller="Certificate" page-action="Index"></page-link>
}
else
{
    <partial name="MainPages/_EmptyListPartial" />
}

@section Scripts
{
    <script type="text/javascript" src="~/js/certificate.js" asp-append-version="true"></script>
}


